@model RegistrationViewModel
@{
    
}
<h2>
    Thank you for Registering.
</h2>
<p>We can't wat to see you join us for our fundraiser for the less fortunate citizens among us. Here is a rundown of teh infomration you delivered to us:</p>

<h3>Summary</h3>
<ul>
    <li>Name: @Model.Name</li>
    <li>Email: @Model.Email</li>
    <li>Phone: @Model.Phone</li>
    <li>Address: @Model.Address</li>
    <li>Zip code: @Model.ZIP</li>
    <li>Age: @Model.Age</li>
</ul>